@import "animate";

$cdn-prefix: '';

@mixin img($img, $width: 100%, $height: 100%, $left: auto, $top: auto, $pos: left top, $size: 100% 100%, $z: 0, $b: null) {
  position: absolute;
  @if $img != '' {
    background: $b url($cdn-prefix + $img) no-repeat $pos / $size;
  }
  left: $left;
  top: $top;
  width: $width;
  height: $height;
  z-index: $z;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @if $left == center {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  @if $top == center {
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}

@mixin set-bg-title(
  $title-img,
  $title-width,
  $title-height,
  $pic-img,
  $pic-width,
  $pic-height,
  $text-img,
  $text-width,
  $text-height
) {
  .bg {
    @include set-absolute-background('/static/img/bg.jpg');
  }
  .title {
    @include set-absolute-background($title-img, $title-width, $title-height, center, 17vh);
  }
  .pic {
    @include set-absolute-background($pic-img, $pic-width, $pic-height, center, 27vh);
  }
  .text {
    @include set-absolute-background($text-img, $text-width, $text-height, center, 65vh);
  }
}
