.mint-switch-core {
  width: 40px !important;
  height: 20px !important;
}
.mint-switch-core::after {
  width: 18px !important;
  height: 18px !important;
}
.mint-switch-core::before {
  width: 38px !important;
  height: 18px !important;
}
